@{
    ViewData["Title"] = "Парсер";
}

<div class="hero-unit">
    <h1>Вас приветствует парсер патентов!</h1>
    <p>Для того, чтобы внести данные о патенте в таблицу, нужно вставить ссылку в поле ниже и нажать кнопку "Запарсить ссылочку"</p>
    <p>
        <div class="text-center">
            <form asp-action="AddUrl" class="form-inline row" asp-controller="Patents" method="post">
                <label>Вставьте ссылочку:   </label>
                <input type="text" class="form-control" name="url" size="65" />
                <input type="submit" value="Запарсить ссылочку" class="btn btn-success" />
            </form>
        </div>
        @*<a class="btn btn-primary btn-large">
            Узнать больше
        </a>*@
    </p>
</div>

@*<div class="text-center">
    <form asp-action="AddUrl" class="form-inline row" asp-controller="Patents" method="post">
        <label>Url:   </label>
        <input type="text" name="url" size="65" />
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </form>
</div>*@
